.root {

}
 
.label {
	-fx-font-size: 12.0px;
	-fx-text-fill: #333333;
}

.headLabel {
	-fx-font-size: 12.0px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.5), 0.0, 0.0, 0.0, 1.0);
}

.button, .toggle-button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-background-repeat: round;
	-fx-background-position: center;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:pressed, .toggle-button:selected{
	-fx-background-color: linear-gradient(#2A5058, #202020);
}

.list-view .list-cell:selected:focused:disabled {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.invisible {
	visibility: hidden;
}

#tabPane {
	/*-fx-background-color: rgb(255,0,128);*/
    -fx-skin: "com.sun.javafx.scene.control.skin.TabPaneSkin";
    -fx-tab-min-height: 0.0;  
    -fx-tab-max-height: 0.0; 
    -fx-tab-min-width: 0.0;
    -fx-tab-max-width: 0.0;
}

#tabPane .tab-header-area {
    -fx-padding: 0.0 0.0 0.0 0.0; 
}

#tabPane .tab-header-area .headers-region .tab {
    -fx-padding: 0.0 0.0 1.0 0.0;
}

#imagePane {
	/*-fx-background-color: rgb(128,0,255);*/
}

#startRecordButton {
	-fx-background-image: url(startIcon.png);
	-fx-size: 20.0 20.0;
}

#stopRecordButton {
	-fx-background-image: url(stopIcon.png);
}

#pauseRecordButton {
	-fx-background-image: url(pauseIcon.png);
}

#selectFolderButton {
	-fx-background-image: url(openIcon.png);
}

#error {
     -fx-text-fill: red;
 }